<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffaa2a;">
  <a class="navbar-brand" href="#">patrickrogers.me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ site.baseurl }}index.html">Home {% if page.url == "index.html" %} <span class="sr-only">(current)</span> {% endif %} </a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}blog.html">Blog {% if page.url == "/blog.html" %} <span class="sr-only">(current)</span> {% endif %}</a>
      <a class="nav-item nav-link" href="{{ site.baseurl }}about.html">About {% if page.url == "/about.html" %} <span class="sr-only">(current)</span> {% endif %}</a>
    </div>
  </div>
</nav>
