<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffaa2a;">
  <a class="navbar-brand" href=" {{site.baseurl}}index.html">patrickrogers.me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- if the url of the page is index, insert the active class -->
      <a class="nav-item nav-link
        {% if page.url == "/" %}
          active
        {% endif %}
        " href="{{ site.baseurl }}index.html">Home
      </a>
      <a class="nav-item nav-link
        {% if page.url == "/blog.html" %}
          active
        {% endif %}
        " href="{{ site.baseurl }}blog.html">Blog
      </a>
      <a class="nav-item nav-link
        {% if page.url == "/about.html" %}
          active
        {% endif %}
        " href="{{ site.baseurl }}about.html">About
      </a>
    </div>
  </div>
</nav>

<!--

{% if page.url == "/index.html" %}
<span class="sr-only">(current)</span>
{% endif %}

I have no idea what the point of this class does in Bootstrap.
  -->
