p, a, b, i, u, strong, em {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Domine', serif;
}

.spacetime {
  margin-top: 35px;
}

.blog-title {
  margin-top: 10px;
  margin-bottom: 0px;
}

.blog-date {
  color: gray;
  margin: 0px;
  padding: 0px;
}

.rss {
  margin-top: 10px;
}
